.progression-timer {
  width: 100%;
  max-width: 100vw;
  height: 5px;

  position: relative;

  background: #686d76;
}

.progression-timer .current-time {
  height: 100%;
  background: #19d3da;

  transition-property: width;
  transition-timing-function: linear;
}

.progression-timer .current-time.game-over {
  transition: none;

  background: lightcoral;
  width: 100% !important;
}
